 <!-- vue.js初体验 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-demo01</title>
    <script src="../../javascript/vue-v2.6.14.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <button @click="reverseMessage">Reverse Message</button>
        <p>
            <input v-model="message">
        </p>
        <p>
            <span v-if="seen">Now you see me.</span>
            <span v-else>You can't see me.</span>
        </p>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <ul>
            <todo-item v-for="item in groceryList"
                :todo="item"
                :key="item.id">
            </todo-item>
        </ul>
    </div>
</body>
<script>
    Vue.component('todo-item', {
        props : ['todo'],
        template : '<li>{{ todo.id }} : {{ todo.text }}</li>'
    });

    let myData = {
        message : 'Hello, Vue!',
        seen : true,
        todos : [
            { text : 'Learn JavaScript' },
            { text : 'Learn Vue' },
            { text : 'Build Something Awesome' }
        ],
        groceryList : [
            { id : 0, text : 'Vegetables' },
            { id : 1, text : 'Cheese' },
            { id : 2, text : 'Whatever else humans are supposed to eat' }
        ]
    };
    let vm = new Vue({
        customOption : 'My customOption',
        el : '#app',
        data : myData,
        methods : {
            reverseMessage : function () {
                this.message = this.message.split('').reverse().join('')
            }
        },
        created : function () {
            console.log('message is : ' + this.message);
            console.log('$options.customOption is : ' + this.$options.customOption);
        }
    });
    // vm.message = 'Vue!';
    // vm.seen = false;
    vm.todos.push({ text : 'Push This' });
    if (vm.$data === myData) {
        console.log('vm.$data === myData');
    }else {
        console.log('vm.$data !== myData');
    }
</script>
</html>